# Git
.git/
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/
tests/


frontend/node_modules/
frontend/.git/
frontend/dist/
frontend/.env*


.env
.env.*
*.tfvars


infra/
bootstrap/
.github/


*.md
docs/
images/
